<div ng-controller="MonteCarloCtrl">
    <form class="form" ng-submit="getChart()">
        <label>Params</label>
        <input type="text" class="span2" ng-model="s0" size="30" placeholder="Spot">
        <input type="text" class="span2" ng-model="nValue" size="30" placeholder="N">
        <input type="text" class="span2" ng-model="mValue" size="30" placeholder="M">
        <input type="text" class="span2" ng-model="r" size="30" placeholder="interest">
        <input type="text" class="span2" ng-model="sigma" size="30" placeholder="vol">
        <input type="text" class="span2" ng-model="time" size="30" placeholder="Time">
        <input class="btn-primary" type="submit" value="Generate Graph">
    </form>
<chart title="Monte Carlo Simulation for VTO Stock"
       xData="lineChartXData"
       yData="lineChartYData"
       xName="Time"
       yName="Stock Price"
       subtitle="Wiggles"></chart>
</div>