<h1>Monte Carlo Simulation</h1>

<div ng-controller="MonteCarloCtrl">
    <form class="form-inline" ng-submit="getChart()">
        <input type="text" class="span2" ng-model="s0" size="30" placeholder="Spot">
        <input type="text" class="span2" ng-model="nValue" size="30" placeholder="N">
        <input type="text" class="span2" ng-model="mValue" size="30" placeholder="M">
        <input type="text" class="span2" ng-model="r" size="30" placeholder="interest">
        <input type="text" class="span2" ng-model="sigma" size="30" placeholder="vol">
        <input type="text" class="span2" ng-model="time" size="30" placeholder="Time">
        <input class="btn-primary" type="submit" value="Generate Grid">
    </form>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Time</th>
            <th ng-repeat="mont in lineChartXData track by $index">
                {{mont | number:4}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="montee in lineChartYData">
            <td>{{montee.name}}</td>
            <td ng-repeat="m in montee.data track by $index">{{m | number : 4}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
