<h2>Portfolios</h2>

<div ng-controller="PortfolioCtrl">

    <form class="form-inline" ng-submit="savePortfolio(portfolioForm.portfolio)">
        <input type="text" class="span3" ng-model="portfolioForm.portfolio.portfolioNumber" size="30" placeholder="Portfolio Number">
        <input type="text" class="span3" ng-model="portfolioForm.portfolio.stockId" size="30" placeholder="Stock Id">
        <input type="text" class="span3" ng-model="portfolioForm.portfolio.stockCount" size="30" placeholder="Stock Count">
        <input class="btn-primary" type="submit" value="Save">
        <button type="button" class="btn" ng-click="clearForm()">Clear form</button>
    </form>
    <div class="control-group">
        <input class="span4" type="text" ng-model="searchText.$" placeholder="Filter the list..">
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 100px">Actions</th>
            <th style="width: 200px">Portfolio Number</th>
            <th style="width: 300px">Stock Id</th>
            <th style="width: 400px">Stock Count</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="portfolio in portfolioList | orderBy:'id' | filter:searchText">
            <td><button class="btn" ng-click="editPortfolio(portfolio)"><i class="icon-edit"></i></button>
                <button class="btn" ng-click="deletePortfolio(portfolio)"><i class="icon-trash"></i></button>
            </td>
            <td style="width: 200px">{{portfolio.portfolioNumber}}</td>
            <td style="width: 300px">{{portfolio.stockId}}</td>
            <td style="width: 300px">{{portfolio.stockCount}}</td>
        </tr>
        </tbody>
    </table>
</div>
