<h1>Financial Instruments</h1>
<div class="row-fluid">
    <div class="span5">
        <label for="name-input">Name: </label>
        <input id="name-input" type="text" class="span8" ng-model="yourName" placeholder="Who?">
        <h3> Welcome to our portal {{yourName}}!</h3>
    </div>
    <div class="span5">
        <div class="well">
            <p>
                Enjoy our offerings of financial instruments.
            </p>
            <p>
                <a href="https://www.facebook.com/titus.chirchir12">Titus Chirchir on Facebook.</a>
            </p>
        </div>
    </div>
</div>
